/* Styles for List component starts here */
.list {
    display: block;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list h1 {
    margin-top: 0;
  }
  
  .list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  /* Styles for List component ends here */